.custom-pagination {
  display: flex;
  justify-content: center;
  margin-top: 1rem;
  margin-bottom: 1rem;
  gap: 0.5rem;
}

.custom-pagination .swiper-pagination-bullet {
  width: 12px;
  height: 12px;
  background-color: var(--text-color);
  opacity: 0.6;
  border-radius: 50%;
  cursor: pointer;
  transition: all 0.3s ease;
}

.custom-pagination .swiper-pagination-bullet-active {
  background-color: var(--text-color);
  opacity: 1;
}   