.swiper {
    width: 100%;
}
  
.swiper-slide img {
    width: 100%;
    background-color: #F9F4EF;
    border-radius: 10px;
    transition: transform 0.3s ease-in-out;
}
 
.swiper-slide .banner {
    width: 100%;
    height: 335px;
}

/* Centraliza o slider */
.slider-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: relative;
    width: 80%;
    margin: auto;
    padding: 50px 0;
}

/* Container que agrupa as setas e os bullets */
.controls-container {
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 15px;
    margin-top: 10px;
    position: relative;
}

/* Personaliza as setas */
.custom-prev, .custom-next {
    font-size: 24px;
    color: #F25042; /* Cor das setas */
    cursor: pointer;
    transition: transform 0.3s;
}

.custom-prev:hover, .custom-next:hover {
    transform: scale(1.2);
}

/* Personaliza os bullets */
.custom-pagination .swiper-pagination-bullet {
    background-color: #F25042 !important;
    width: 12px;
    height: 12px;
    
}

.custom-pagination .swiper-pagination-bullet-active {
    background-color: red !important;
    opacity: 1;
}

.paixao {
    text-align: center;
    color: black;
}

.images {
    display: flex;
    padding: 20px 0 
}

.geral, .pimenta, .cerveja {
    flex-grow: 1;
    width: 100%;
    height: 500px;
}

@media (max-width: 1600px) {
    .swiper-slide .banner {
        height: 265px;
    }
}

@media (max-width: 768px) {
    .slider-container {
        margin-top: 0
    }

    .paixao {
        font-size: 20px;
    }

    .img-center {
        width: 200px;
        height: 200px;
        position: relative;
        left: -18px;
    }

    .swiper-slide .banner {
        width: 100%;
        height: 75px;
    }

    .geral, .pimenta, .cerveja {
        height: 200px;
    }

}