header { 
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: #F9F4EF;
    padding: 15px 90px;
}

.logo {
    height: 100px;
    width: 100px;
    flex: 1;
    display: flex;
    align-items: center;
    position: relative;
    left: -100px;
    opacity: 2;
}

.title {
    font-family: "Dancing Script", cursive;
    font-weight: 700;
    font-size: 38px;
    color: black;
    flex: 1;
    text-align: center;
    position: relative;
    left: -100px;
    font-style:normal;
}

.navbar {
    display: flex;
    align-items: center;
}

.nav-list {
    flex: 1;
    display: flex;
    justify-content: flex-end;
    gap: 1.8rem;
    list-style: none;
    position: relative;
    left: -30px;
}

.nav-list .navlink {
    text-decoration: none;
    color: #F25042;
    font-size: 22px;
    font-weight: 700;
    line-height: normal;
    position: relative;        
}

.navlink::before {
    content: "";
    position: absolute;
    width: 100%;
    height: 2px;
    background: #F25042;
    border-radius: 5px;
    transform: scaleX(0);
    transition: all 0.6s ease;
    bottom: 0;
}

.navlink:hover::before {
    transform: scaleX(1); 
}


.menu-icon {
    display: none; /* Escondido por padrão */
    flex-direction: column;
    justify-content: space-between;
    width: 30px;
    height: 20px;
    cursor: pointer;
    position: relative;
    left: 7rem;
}

.menu-icon span {
    display: block;
    width: 100%;
    height: 4px;
    background-color: #F25042;
    border-radius: 5px;
}

/* Modal */
.modal {
    position: fixed;
    top: 0;
    right: -300px; /* Inicialmente fora da tela */
    width: 300px;
    height: 35%;
    background-color: #F9F4EF;
    box-shadow: -4px 0 10px rgba(0, 0, 0, 0.3);
    transition: right 0.3s ease-in-out; /* Suavizar a transição */
    z-index: 999;
    padding: 20px;
    display: none; /* Inicialmente escondido */

}

.modal.open {
    right: 0; /* Quando o modal for aberto, ele aparece à direita */
    display: block;
}

.modal .nav-list {
    list-style: none;
    padding: 0;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    gap: 1.2rem;
}

.modal .navlink {
    color: #F25042;
    text-decoration: none;
    font-size: 20px;
    font-weight: 700;
}

.modal-footer {
    position: absolute;
    height: 40px;
    bottom: 0;
    width: 100%;
    left: 0;
    background-color: #8C7851;
    text-align: center;
    padding: 1px 0;
}

.modal-footer p {
    display: flex;
    text-align: center;
    font-size: 15px;
    padding: 0 10px;
}



/* Media query para telas menores (celulares) */
@media (max-width: 768px) {
    header {
        padding: 15px 35px; /* Ajustar padding para telas menores */
    }

    .logo {
        height: 80px;
        width: 80px;
        opacity: 2;
        left: 0px;
    }

    .title {
        font-size: 1.6rem;
        left: 40px;
    }

    .navbar {
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .modal {
        width: 60%;
    }

    /* Exibir o ícone de menu no celular */
    .menu-icon {
        display: flex; /* Mostrar o ícone de menu */
        left: 100px;
    }

    .modal .menu-icon {
        top: 10px;
        left: 200px;
    }

    /* Esconder os links de navegação em dispositivos móveis */
    .nav-list {
        display: none; /* Links de navegação são escondidos */
        left: -15px;
    }

    .navlink {
        font-family: "Inria Serif", serif;
        font-style:italic;
    }
    
    /* Linha abaixo do link quando ele estiver ativo (clicado) */
    .navlink.active::before {
        content: "";
        position: absolute;
        width: 100%;
        height: 2px;
        background: #F25042;
        border-radius: 5px;
        bottom: 0;
        transform: scaleX(1);
        transition: all 0.6s ease;
    }
}

@media (max-width: 391px) {
    .modal .menu-icon {
        top: 10px;
        left: 190px;
    }

    .modal-footer p {
        font-size: 12px;
        padding: 0 8px;
    }
}