.background {
    width: 87vw;
    background-color: #F9F4EF;
    min-height: 100vh;
    margin:  auto;
    margin-top: 70px;
    display: flex;
    flex-direction: column;
}

@media (max-width: 768px) {
    .background {
        margin: 40px auto;
    }
}